[Desktop Entry]
Icon=text-html
Name=http://download.oracle.com/otndocs/jcp/servlet-3.0-fr-oth-JSpec/
Type=Link
URL[$e]=http://download.oracle.com/otndocs/jcp/servlet-3.0-fr-oth-JSpec/
